* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

@font-face {
  font-family: saxMono, url(./fonts/saxmono.ttf) .format("truetype");
}

/*** nav section ***/
nav {
  position: fixed;
  background-color: #0a0a23;
  color: #ffffff;
  overflow: hidden;
  width: 100vw;
  height: 3rem;
  z-index: 1;
}
.navbar-brand {
  overflow: hidden;
}

.main-page {
  max-width: 100vw;
  overflow: hidden;
}
.logo-image {
  display: block;
  width: auto;
  height: 1.3rem;
  margin: 0.5rem 0;
  padding-left: 1rem;
}

ul {
  list-style: none;
}

li {
  font-size: 1em;
}

/* wrapper pushes section under fixed nav */
.main-section-wrapper {
  position: relative;
  top: 3rem;
}

/* hero image */
.header-img {
  max-width: 100vw;
  overflow: hidden;
}

/*** main sections ***/
.page-format {
  margin: 0 auto;
}
/* main sections padding*/
.main-section {
  padding: 1.5rem 0.5rem;
}

section > h1,
article > h1 {
  padding-bottom: 1rem;
}

/* text style */
h1 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.25;
}

/*** footer ***/
footer {
  border-top: 1px solid black;
  padding: 1rem;
}
/* unvisited link */
a:link {
  color: #00471b;
  font-weight: 600;
}
/* visited link */
a:visited {
  color: #00471b;
}
/* mouse over link */
a:hover {
  color: #acd157;
}
/* selected link */
a:active {
  color: black;
}

/* Icon styling */
.fab {
  padding: 0.5rem;
}

button {
  border: none;
  background-color: white;
  color: black;
}

/* code of conduct section */
.conduct {
  font-size: 1em;
  text-align: center;
}

/* media queries */
/* font sizes, padding, margin set to rem controlled by html font-size globally */
@media (min-width: 640px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 767px) {
  html {
    font-size: 20px;
  }
}


/*bio section*/
/*adding a max height to this so the images are in line*/
.card-img-top { max-height: 260px;} 