* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

/* @font-face {
  font-family: saxMono, url(./fonts/saxmono.ttf) .format("truetype");
} */

/*** nav section ***/
nav {
  position: fixed;
  background-color: #0a0a23;
  color: #ffffff;
  width: 100%; /*Changing this to vw will affect the vertical scroll*/
  padding: 3px 10px;
  height: 3rem;
  z-index: 1;
}

.logo-image {
  display: block;
  width: auto;
  height: 1.3rem;
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.main-nav {
  background-color: #0a0a23;
  display: none;
  justify-content: space-between;
  width: 300px;
  /* margin: 0.3rem auto; */
  list-style: none;
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 1rem;
}

/* open dynamically */
.active {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-toggle {
  font-size: 1.3rem;
  position: absolute;
  top: 5px;
  right: 1rem;
}

/* .main-page {
  max-width: 100vw;
  overflow: hidden;
} */

/* wrapper pushes section under fixed nav */
.main-section-wrapper {
  position: relative;
  top: 3rem;
}

/* hero image */
.header-img {
  max-width: 100%;
  overflow: hidden;
}

/*** main sections ***/
.page-format {
  margin: 0 auto;
}
/* main sections padding*/
.main-section {
  padding: 1.5rem 0.5rem;
}

section > h1,
article > h1 {
  padding-bottom: 1rem;
}

/* text style */
h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.25;
}

/*** footer ***/
footer {
  border-top: 1px solid black;
  padding: 1rem;
}
/* unvisited link */
a:link {
  color: #00471b;
  font-weight: 600;
}
/* visited link */
a:visited {
  color: #00471b;
}
/* mouse over link */
a:hover {
  color: #acd157;
}
/* selected link */
a:active {
  color: black;
}

/* Icon styling */
.fab {
  padding: 1rem;
}

button {
  border: none;
  background-color: white;
  color: black;
}

/* code of conduct section */
.conduct {
  font-size: 1em;
  text-align: center;
}

/*bio section*/
.card {
  margin: 1rem;
}

.img-container {
  overflow: hidden;
  height: 360px;
  position: relative;
}

.card-img-top {
  display: block;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  height: 100%;
}

/* media queries */
/* font sizes, padding, margin set to rem controlled by html font-size globally */
@media (min-width: 640px) {
  /* base mq */
  html {
    font-size: 18px;
  }

  /* mq for contrib page */
  body .img-container {
    height: 390px;
  }
}

@media (min-width: 767px) {
  /* base mq */
  html {
    font-size: 20px;
  }
  /*nav mq*/
  .nav-toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    width: 350px;
    padding: 0 1rem 0 0;
    top: 10px;
  }

  /* mq for contrib page */
  body .img-container {
    height: 220px;
  }
  .card-body > p {
    font-size: 16px;
  }
  .card-body > span {
    font-size: 12px;
  }
  .card-body > h5 {
    font-size: 22px;
  }
  .card-link {
    font-size: 16px;
  }
  .card {
    margin: 0;
  }
  .container {
    max-width: 900px;
  }
}
